*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Roboto', 'Open Sans', sans-serif;
    color: #333333;
    background-color: #ffffff;
}

.team-intro {
    padding-top: 95.77px; 
    padding-bottom: 20px;
    max-width: 900px; 
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
}

.team-intro__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px; 
    color: #333333;
}
.team-members {
    display: grid;
    grid-template-columns: repeat(3, 380px); 
    gap: 30px; 
    max-width: 1200px; 
    margin: 99.35px auto 0;
    padding: 0;
    align-items: flex-start; 
}

.team-member {
    text-align: center;
    width: 380px; 
    position: relative; 
    padding-bottom: 10px; 
    padding-right: 10px;
}

.team-member__photo-wrapper {
    position: relative;
    overflow: hidden;
    width: 380px; 
    height: 470px; 
    z-index: 2; 
    transition: transform 0.2s linear;
}

.team-member__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-member::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 380px; 
    height: 470px; 
    background-color: #95e1d3; 
    z-index: 1; 
    transform: translate(10px, 10px); 
    opacity: 0; 
    transition: transform 0.2s linear, opacity 0.2s linear; 
}

.team-member__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    z-index: 3; 

    background: linear-gradient(to bottom, 
        rgba(238, 137, 137, 0.8), 
        rgba(229, 205, 129, 0.8)  
    );
    transition: opacity 0.2s linear; 
}


.team-member:hover .team-member__photo-wrapper {
    transform: translate(-10px, -10px);
}

.team-member:hover::after {
    transform: translate(0, 0);
    opacity: 1; 
}

.team-member:hover .team-member__overlay {
    opacity: 1; 
}

.social-icons {
    display: flex;
    gap: 1px;
}

.social-icons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    background-color: #fce38a; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons__link i {
    font-size: 18px; 
    color: #f38181; 
    transition: color 0.3s ease;
}

.social-icons__link:hover {
    background-color: #f38181; 
}

.social-icons__link:hover i {
    color: white; 
}

.team-member__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    font-weight: 700;
    text-transform: uppercase; 
    margin-top: 30px; 
    color: #333333;
}

.team-member__position {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    font-style: italic;
    font-weight: 300;
    margin-top: 10px;
    color: #6c757d;
}

.team-intro__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-top: 25.46px; 
}

.team-intro__divider {
    width: 50px; 
    height: 3px;
    background-color: #f38181;
    margin: 37.07px auto 0;
}

.team-intro__description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    color: #6c757d;
    line-height: 1.5;
    margin-top: 30px; 
}
.clients {
    margin-top: 124px; 
    height: 250px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    overflow: hidden; 
    position: relative; 
}

.clients-wrapper {
    display: flex;
    width: fit-content; 
    white-space: nowrap; 
    animation: scroll-loop 40s linear infinite; 
    animation-play-state: running;
}

.clients-wrapper:hover {
    animation-play-state: paused; 
}

.client-logo {
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 110px; 
    flex-shrink: 0; 
}

.clients-wrapper .client-logo:nth-child(6) {
    margin-right: 0; 
}

.logo-image {
    max-width: 100%;
    height: auto;
    display: block;
}


@keyframes scroll-loop {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-1150px); 
    }
}

.clients::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; 
    height: 100%;
    z-index: 5;
    background: linear-gradient(to right, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
    pointer-events: none;
}

.clients::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; 
    height: 100%;
    z-index: 5;
    background: linear-gradient(to left, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
    pointer-events: none;
}
.work-intro {
    margin-top: 109px;
    padding-bottom: 40px; 
    max-width: 900px; 
    margin: 109px auto 0; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
}

.work-intro__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px; 
    color: #333333;
}

.work-intro__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    font-weight: 700;
    color: #333333;
    text-transform: uppercase; 
    margin-top: 25.46px; 
}

.work-intro__divider {
    width: 50px; 
    height: 3px;
    background-color: #f38181;
    margin: 37.07px auto 0;
}

.work-intro__description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    color: #6c757d;
    line-height: 1.5;
    margin-top: 30px; 
}

.portfolio {
    margin-top: 107px; 
    max-width: 100%;
}

.portfolio-grid {
    display: grid;
    gap: 0; 
    grid-template-columns: 477px 477px 480px 477px;
    justify-content: center;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    height: 389px; 
    transition: transform 0.3s ease;
}

.portfolio-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.portfolio-item.vertical {
    grid-row: span 2; 
    height: 778px;
}

.item-1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.item-2 { grid-column: 2 / 3; grid-row: 1 / 2; } 
.item-3 { grid-column: 3 / 4; grid-row: 1 / span 2; } 
.item-4 { grid-column: 4 / 5; grid-row: 1 / 2; }
.item-5 { grid-column: 1 / 2; grid-row: 2 / 3; }
.item-6 { grid-column: 2 / 3; grid-row: 2 / 3; } 
.item-7 { grid-column: 4 / 5; grid-row: 2 / 3; } 


.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: linear-gradient(to bottom, 
        rgba(238, 137, 137, 0.8), 
        rgba(229, 205, 129, 0.8)  
    );
    color: white;
    text-align: center;
    
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-icon {
    width: 30px; 
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.overlay-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.overlay-text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
}

.portfolio-item:hover .item-overlay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-image {
    opacity: 0.2; 
}
