*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Roboto', 'Open Sans', sans-serif;
    color: #333333;
    background-color: #ffffff;
}

.team-intro {
    padding-top: 95.77px; 
    padding-bottom: 20px;
    max-width: 900px; 
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
}

.team-intro__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px; 
    color: #333333;
}

.team-intro__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-top: 25.46px; 
}

.team-intro__divider {
    width: 50px; 
    height: 3px;
    background-color: #f38181;
    margin: 37.07px auto 0;
}

.team-intro__description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    color: #6c757d;
    line-height: 1.5;
    margin-top: 30px; 
}
